@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@plugin "tailgrids/plugin";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-primary1: #c0a648;
    --color-primary2: #968751;
    --color-primary3: #ebc431;
    --color-primary4: #6b644c;
    --color-primary5: #413f39;
    --color-primary6: #333027;
}
